<h1>Listing user_arrays</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_arrays.each do |user_array| %>
  <tr>
    <td><%= user_array.name %></td>
    <td><%= user_array.email %></td>
    <td><%= link_to 'Show', user_array %></td>
    <td><%= link_to 'Edit', edit_user_array_path(user_array) %></td>
    <td><%= link_to 'Destroy', user_array, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User array', new_user_array_path %>
